body{
    background-color: #F3F1F5;
    background-image: -webkit-linear-gradient(61deg, #BFA2DB 50%,#F3F1F5 50%);
    color: black;
}
.navmar{
    margin-right: 15px;
}
.navicons{
    opacity: 0.75;
}
