body{
    background-color: #F3F1F5;
    background-image: -webkit-linear-gradient(61deg, #BFA2DB 50%,#F3F1F5 50%);
    background-repeat: no-repeat;
    color: black;
}
.navmar{
    margin-right: 15px;
}
.navicons{
opacity: 0.75;
}
.unicur{
    font-family: 'Arima', cursive;
}
.rampcur{
    font-family: 'Rampart One', cursive;
}
.heading{
    font-size: 175px;
    
}
.text{
    margin-top: 20px;
    margin-bottom: 100px;
    padding-left: 50px;
}
.foot{
    text-align: center;
}
.imgdiv{
margin-left: 500px;
margin-top: 50px;
}
.def-img{
    height: 400px;
   
}
.btn{
    background-color: #BFA2DB;
    border-color: #F3F1F5;
    margin-top: 75px;
    width: 250px;
    margin-left: 75px;
}
#result-line{
    margin-top: 50px;
    margin-left: 90px;
    font-family: 'Arima', cursive;
    width: max-content;
}
.container-fluid{
    padding: 0 10%;
}